<!DOCTYPE html>

<html lang="es">
    <head>
        <title>Mi portafolio online</title>
        <meta charset="UTF-8"/>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../static/css/normalize.css"/>
        <link rel="stylesheet" href="../static/css/estilos.css"/>
    </head>
    <body>
        <header id="yo" class="Header">
            <nav class="MainMenu">
                <ul class="MainMenu-list">
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="#yo">Yo</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="#perfil">Perfil</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="#trabajo">Mi trabajo</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="#contacto">Contáctame</a>
                    </li>
                </ul>
            </nav>

            <figure class="Header-imageContainer">
                <img src="../static/images/Marlen_Anleu.jpg" alt="Marlen Anleu" class="Header-image"/>
                <figcaption class="Header-description">
                    <a href="https://plus.google.com/106807134047302302623/about" target="_blank" class="Header-link">Marlen Anleu</a>
                </figcaption>
                <p class="Header-name">Marlen Anleu</p>
            </figure>
        </header>
        <section id="perfil" class="Profile">
            <div class="u-containerDefault"> 
                <h2 class="Profile-title u-title">Mi Perfil</h2>

                <p class="Profile-description">Puedes <strong>visitar</strong> mis redes <span class="Profile-span">sociales</span> si quieres <em>seguirme</em></p>

                <a class="Profile-link" href="https://plus.google.com/106807134047302302623/about">Marlen Anleu</a>

                <a class="Profile-link" href="http://facebook.com/MarlenAnleu/">Marlen Anleu</a>

                <a class="Profile-link" href="http://github.com/marlenanleu/">Marlen Anleu</a>
            </div>
        </section>
        <section id="trabajo" class="Work">
            <div class="u-containerDefault"> 
                <h2 class="Work-title u-title">Mi Trabajo</h2>
                <h3 class="Work-title u-title">Logotipos</h3>
            </div>
                <article class="Work-item">
                    <figure class="Work-imageContainer">
                        <img class="Work-image" src="../static/images/Logo_azul_Gris.jpg" alt="Taller mecanica"/>
                        <figcaption class="Work-description">Smart Paint</figcaption>
                    </figure>
                </article>
                <article class="Work-item">
                    <figure class="Work-imageContainer">
                        <img class="Work-image" src="../static/images/logo3D.jpg" alt="L Arquitectura"/>
                        <figcaption class="Work-description">L Arquitectura</figcaption>
                    </figure>
                </article>
                <article class="Work-item">
                    <figure class="Work-imageContainer">
                        <img class="Work-image" src="../static/images/logo-Chocovit.jpg" alt="Chocovit"/>
                        <figcaption class="Work-description">Chocovit</figcaption>
                    </figure>
                </article>
                <article class="Work-item">
                    <figure class="Work-imageContainer">
                        <img class="Work-image" src="../static/images/logo-reciclaje.jpg" alt="JR"/>
                        <figcaption class="Work-description">JR</figcaption>
                    </figure>
                </article>
               <div class="u-containerDefault"> 
                <h3 class="Work-title u-title">Impresos</h3>
               </div>
                <article class="Work-item">
                    <figure class="Work-imageContainer">
                        <img class="Work-image" src="../static/images/Las_verapaces.jpg" alt="Las verapaces"/>
                        <figcaption class="Work-description">Las verapaces</figcaption>
                    </figure>
                </article>
                <article class="Work-item">
                    <figure class="Work-imageContainer">
                        <img class="Work-image" src="../static/images/Zurich.jpg" alt="Zurich"/>
                        <figcaption class="Work-description">Zurich</figcaption>
                    </figure>
                </article>
                <article class="Work-item">
                    <figure class="Work-imageContainer">
                        <img class="Work-image" src="../static/images/ForoACAAI.jpg" alt="VII Foro ACAAI"/>
                        <figcaption class="Work-description">VII Foro ACCAI</figcaption>
                    </figure>
                </article>
                <article class="Work-item">
                    <figure class="Work-imageContainer">
                        <img class="Work-image" src="../static/images/Prolibza.jpg" alt="Prolibza"/>
                        <figcaption class="Work-description">Prolibza</figcaption>
                    </figure>
                </article>
                 <div class="u-containerDefault"> 
                <h3 class="Work-title u-title">Diseño Web</h3>
               </div>
                <article class="Work-item">
                    <figure class="Work-imageContainer">
                        <img class="Work-image" src="../static/images/ACG_Final_p.jpg" alt="ACG"/>
                        <figcaption class="Work-description">ACG</figcaption>
                    </figure>
                </article>
                <article class="Work-item">
                    <figure class="Work-imageContainer">
                        <img class="Work-image" src="../static/images/ACG_Final_Carreras_p.jpg" alt="ACG"/>
                        <figcaption class="Work-description">ACG</figcaption>
                    </figure>
                </article>
                <article class="Work-item">
                    <figure class="Work-imageContainer">
                        <img class="Work-image" src="../static/images/Automaq2_Foton_p.jpg" alt="Automaq"/>
                        <figcaption class="Work-description">Automaq</figcaption>
                    </figure>
                </article>
                <article class="Work-item">
                    <figure class="Work-imageContainer">
                        <img class="Work-image" src="../static/images/Automaq2_p.jpg" alt="Automaq"/>
                        <figcaption class="Work-description">Automaq</figcaption>
                    </figure>
                </article>
                 <article class="Work-item">
                    <figure class="Work-imageContainer">
                        <img class="Work-image" src="../static/images/Vitam_Crossfit_p.jpg" alt="Vitam Crossfit"/>
                        <figcaption class="Work-description">Vitam Crossfit</figcaption>
                    </figure>
                </article>
                <article class="Work-item">
                    <figure class="Work-imageContainer">
                        <img class="Work-image" src="../static/images/Vitam_Crossfit_2 _p.jpg" alt="Vitam Crossfit"/>
                        <figcaption class="Work-description">Vitam Crossfit</figcaption>
                    </figure>
                </article>
                <article class="Work-item">
                    <figure class="Work-imageContainer">
                        <img class="Work-image" src="../static/images/OpticalC_p.jpg" alt="Optical Center"/>
                        <figcaption class="Work-description">Optical Center</figcaption>
                    </figure>
                </article>
                <article class="Work-item">
                    <figure class="Work-imageContainer">
                        <img class="Work-image" src="../static/images/ServiPastillas_p.jpg" alt="Servi-Pastillas"/>
                        <figcaption class="Work-description">Servi-Pastillas</figcaption>
                    </figure>
                </article>
        </section>
        <footer id="contacto" class="Footer">
            <div class="Footer-left">
                <h3 class="Footer-title">Contacto</h3>
                <p class="Footer-description">Si quieres contratarme puedes escribirme en este pequeño formulario</p>
            </div>
            <form action="" class="Footer-form">
                <input type="text" placeholder="Nombre" class="Footer-input">
                <input type="email" placeholder="Email" class="Footer-input">
                <textarea placeholder="motivo" class="Footer-textarea"></textarea>
                <button type="submit" class="Footer-button">Contactarme</button>
            </form>
        </footer>
    </body>
</html>

